<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text color="primary">My UKMs</ion-text>
    <ion-list>
      <ion-item-sliding *ngFor="let myU of myUkm" #slidingBooking>
        <ion-item>
          <ion-label>
            <h5>{{ myU.title }}</h5>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="onCancelMyBooking(myU.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>
