<ion-header>
    <ion-toolbar>
      <ion-title>
        UMN UKM
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card *ngFor="let load of loadedUkm">
              <ion-card-header>
                <ion-card-title>{{ load.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>{{ load.description }}</p>
              </ion-card-content>
              <div text-right>
                  <ion-button fill="clear" color="primary" (click)="onJoinUkm(load)">Join!</ion-button>
                </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>